<div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>


<script>
    $( document ).ready(function() {
        console.log("teste");
       if($(".notice")) {

       }
    });

</script>