<nav class="navbar navbar-dark bg-dark" id="footer" >
    <div class="m-auto">
        <a class="navbar-brand" href="/">
            <img src="<%= asset_path('SG.png') %>" width="35" height="37" alt="Sistema de gestão" loading="lazy">
            Copyright ©
        </a>
    </div>
</nav>